<h1>New Event</h1>

<%= simple_form_for [@event] do |f| %>
  <%= f.input :title, placeholder: "title", label: false %>
  <%= f.input :max_amount, placeholder: "maximum amount",label: false %>
  <%= f.button :submit %>
<% end %>
